<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:\Users\kopil\OneDrive\Documents\KU_University_Documents\SAPM_Final_Project\BankingWebApp\BankingWebApp\Logs\internal-nlog.txt">

  <targets>
    <target xsi:type="File" name="allfile" fileName="${gdc:item=appDirectory}\Logs\nlog-all.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}.${callsite:className=False:methodName=True}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="File" name="ownFile-web" fileName="${gdc:item=appDirectory}\Logs\nlog-own.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}.${callsite:className=False:methodName=True}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="ColoredConsole" name="coloredConsole"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}.${callsite:className=False:methodName=True}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="Debugger" name="debugger"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger:shortName=True}.${callsite:className=False:methodName=True}|${uppercase:${level}}|  ${message} ${exception}" />

    <target xsi:type="Null" name="blackhole" />

    <target name="database" xsi:type="Database" >

      <connectionString>${gdc:item=connectionString}</connectionString>
      <!--
        Remarks:
          The appsetting layouts require the NLog.Extended assembly.
          The aspnet-* layouts require the NLog.Web assembly.
          The Application value is determined by an AppName appSetting in Web.config.
          The "NLogDb" connection string determines the database that NLog write to.
          The create dbo.Log script in the comment below must be manually executed.

        Script for creating the dbo.Log table.

        SET ANSI_NULLS ON
        SET QUOTED_IDENTIFIER ON
        CREATE TABLE [dbo].[Log] (
            [Id] [int] IDENTITY(1,1) NOT NULL,
            [Application] [nvarchar](50) NOT NULL,
            [Logged] [datetime] NOT NULL,
            [Level] [nvarchar](50) NOT NULL,
            [Message] [nvarchar](max) NOT NULL,
            [Logger] [nvarchar](250) NULL,
            [Method] [nvarchar](max) NULL,
            [Callsite] [nvarchar](max) NULL,
            [Exception] [nvarchar](max) NULL,
          CONSTRAINT [PK_dbo.Log] PRIMARY KEY CLUSTERED ([Id] ASC)
            WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
        ) ON [PRIMARY]
      -->

      <commandText>
        insert into dbo.Log (
        Application, Logged, Level, Message,
        Logger, Method, CallSite, Exception
        ) values (
        @Application, @Logged, @Level, @Message,
        @Logger, @Method, @Callsite, @Exception
        );
      </commandText>

      <parameter name="@application" layout="AspNetCoreNlog" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <!--<parameter name="@callSite" layout="${callsite:className=false;methodName=true}" />-->
      <parameter name="@method" layout="${callsite:className=false:methodName=true}" />
      <parameter name="@callSite" layout="${callsite:fileName=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!-- Too much logs coming from Microsoft. So, we will log logs into the database after sending all Microsoft related logs into the blackhole-->
    <!--<logger name="*" minlevel="Trace" writeTo="database" />-->
    <logger name="*" minlevel="Info" writeTo="coloredConsole"/>
    <logger name="*" minlevel="Info" writeTo="debugger"/>

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="database"/>
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>

</nlog>