html {
    font-size: 18px;
/*    scroll-behavior: smooth;
*/}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus,
.form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


body {
    overflow-x: hidden;
    overflow-y: auto;
}

#renderBody {
    width: 100vw;
    overflow-y: auto;
}

#sideBarDiv {
    width: 300px;
    height: 100vh;
    overflow-y: hidden;
}

.nav-pills .nav-link.active,
.nav-pills > .nav-link {
    color: #F0F8FF !important;
    background-color: #CD0B0B;
}

.dropdown-toggle {
    outline: 0;
}

.scrollarea {
    overflow-y: scroll;
}

.navbar a {
    text-decoration: none;
}

.passwordInputReadonly {
    outline: none;
    border: none;
}

/* This is to make the input focus in form-floating align correcting with the label*/

.form-floating > .form-control, .form-floating > .form-control-plaintext {
    padding: 1rem 1.35rem;
}

/**/
@media screen and (max-width: 991px) {
    #renderBody {
        /*margin-left: 0px;*/
    }
}
