@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register Customer";
}

<div class="container">
    @Html.ActionLink("Go to Account", "Index", "Account");
    <div class="card ">
        <div class="card-header bg-transparent">
            <p>Registration Form</p>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {

            }
        </div>
    </div>
</div>